<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Trang web đẹp</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; background-color: #f4f4f4;">

    <header style="background-color: #333; color: white; padding: 5px; text-align: left;">
    <nav style="margin-top: 0px;">
        <img src="/images/hehe.jpg" alt="Logo" style="width: 100px; height: auto; display: inline-block; vertical-align: middle; margin-right: 15px;">
        <a href="/" style="color: white; text-decoration: none; margin: 0 15px; padding: 10px 15px; border-radius: 5px; transition: background-color 0.3s; display: inline-block;">Trang chủ</a>
        <a href="/categories" style="color: white; text-decoration: none; margin: 0 15px; padding: 10px 15px; border-radius: 5px; transition: background-color 0.3s; display: inline-block;">Danh mục</a>
        <a href="/about" style="color: white; text-decoration: none; margin: 0 15px; padding: 10px 15px; border-radius: 5px; transition: background-color 0.3s; display: inline-block;">Giới thiệu</a>
        <a href="/contact" style="color: white; text-decoration: none; margin: 0 15px; padding: 10px 15px; border-radius: 5px; transition: background-color 0.3s; display: inline-block;">Liên hệ</a>
    </nav>
</header>


    
</body>
</html>
