<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Category</title>
    
</head>
<body>
<!-- Thêm header -->
    <header
		style="position: fixed; top: 0; left: 0; width: 100%; background-color: #333; color: white; text-align: center; padding: 5px;">
		<div th:replace="layout/header :: header"></div>
	</header>
    
    <form style="margin-top: 170px;" action="#" th:action="@{/categories}" th:object="${category}" method="post" enctype="multipart/form-data">
    <h2>Add Category</h2>
        <label>Category Name:</label>
        <input type="text" th:field="*{name}" required />
        <br /><br>
        
       <!--  <label>Images:</label>
        <input type="file" th:field="*{images}" />
        <br /> -->
        
        <label>Status:</label>
        <select th:field="*{status}">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
        </select><br>
        <br />
        
        <input type="submit" value="Add" /><br><br>
    </form>
    
    <a href="/categories">Back to List</a>
    <!-- Thêm footer -->
   <footer style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #333; color: white; text-align: center; padding: 20px;">
    <div th:replace="layout/footer :: footer"></div>
</footer>
</body>
</html>
	